:root {
  --nav: #01133fa8;
  --bg: #030b28;
  --colornv: #43bfd8b3;
  --colort: white;
  --colorh1: #03262efc;
  --bb1: #105360b3;
  --bb1h: #0e4955b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: "Kameron";
}
body {
  background-color: #c38154;
  color: rgb(255, 255, 255);
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  background-color: #884a39;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--colort);
}
.navbar .navbar-nav a {
  color: var(--colort);
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 2rem;
  font-weight: 700;
}
.navbar .navbar-nav a:hover {
  color: var(--colornv);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--colort);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: var(--colort);
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--colornv);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.container {
  margin: 0 4%;
  position: relative;
  overflow: hidden;
}
.beranda {
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
}
.beranda .content h3 {
  font-size: 20px;
  padding: 0.1em 0;
}
.beranda .content h2 {
  font-size: 40px;
}
.beranda .content p {
  font-size: 16px;
  font-weight: 600;
  padding: 0.1em 0;
}
.beranda .content h4 {
  font-size: 20px;
  padding: 0.1em 0 1.5em;
}
.beranda .content a {
  color: var(--colort);
  font-size: 16px;
  font-weight: 700;
  background-color: #884a39;
  margin: 0 0 1em;
  display: inline-block;
  padding: 1em 1.6em;
  border-radius: 50px;
}
.beranda .content .button1 {
  color: var(--colort);
  font-size: 16px;
  font-weight: 700;
  background-color: #884a39;
  margin: 0 0 1em;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 50px;
  position: relative;
  left: 150px;
  top: -66px;
}
.beranda .content a:hover {
  background-color: var(--bb1h);
}
.beranda .variation {
  width: 290px;
  height: 405px;
  background-color: rgb(233, 225, 225);
  position: relative;
  z-index: -999;
  margin: 120px auto 0;
  bottom: 125px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 6%;
}
.beranda .content-img {
  width: 300px;
  height: 400px;
  justify-content: center;
  background-image: url(../img/ayk.png);
  background-size: cover;
  background-position: center;
  margin-right: 7%;
  margin-top: 7%;
}
/* Tentang Saya */
.about {
  padding: 3em 0 10em;
  width: 100%;
  align-items: center;
}
.about-title {
  font-size: 30px;
  margin-top: 100px;
  text-align: center;
}
.about .side-bar1 {
  padding-right: 4%;
  width: 315px;
  height: 405px;
  justify-content: baseline;
  margin-top: 50px;
}

.about .side-bar1 .image {
  width: 300px;
  height: 403px;
  background-image: url(../img/ayk.png);
  margin-right: 30px;
}
.about .variation2 {
  width: 130px;
  height: 450px;
  background-color: var(--colort);
  z-index: -999;
  position: relative;
  top: 30px;
  left: 75px;
  transform: rotate(55deg);
  border-radius: 0;
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
.about .side-bar2 {
  width: 100%;
  margin-left: 200px;
}
.about .side-bar2 h2 {
  font-size: 30px;
  color: var(--colort);
  text-align: justify;
  line-height: 1.2em;
}
.about .side-bar2 p {
  width: 80%;
  font-size: 24px;
  color: var(--colort);
  text-align: justify;
  line-height: 1.4em;
  justify-content: center;
}
/* skill */
.skill {
  font-size: 30px;
  text-align: center;
}
.Pencapaian {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
.box {
  justify-content: center;
  align-items: center;
  min-height: 400px;
  margin: 0 2em;
}
.card {
  height: 350px;
  width: 270px;
  padding: 25px 40px;
  background: #ffc26f;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i {
  font-size: 20px;
}
.cardp {
  height: 390px;
  width: 300px;
  padding: 20px 25px;
  background: #ffc26f;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i {
  font-size: 30px;
  display: block;
  text-align: center;
  position: relative;
  margin: 25px 0;
}
.card h5 {
  font-size: 20px;
  margin-bottom: 10px;
}
.pra p {
  font-size: 17px;
  line-height: 14px;
  text-align: justify;
  font-weight: 400;
}
.prap p {
  font-size: 17px;
  line-height: 15px;
  text-align: justify;
  font-weight: 500;
}
.btn1 a {
  background-color: var(--colornv);
  color: var(--colort);
  font-size: 16px;
  font-weight: 600;
  margin: 0 1.2em;
  position: relative;
  text-align: center;
  top: 30px;
  padding: 8px;
  border-radius: 30px;
}
.btn2 a {
  background-color: var(--colornv);
  color: var(--colort);
  font-size: 16px;
  font-weight: 600;
  margin: 0 1.2em;
  position: relative;
  text-align: center;
  top: 89px;
  padding: 8px;
  border-radius: 30px;
}
.btn3 a {
  background-color: var(--colornv);
  color: var(--colort);
  font-size: 16px;
  font-weight: 600;
  margin: 0 1.2 em;
  position: relative;
  text-align: center;
  top: 89px;
  padding: 8px;
  border-radius: 30px;
}
.btn1 a:hover {
  background-color: #295d69fc;
}
.btn2 a:hover {
  background-color: #295d69fc;
}
.btn3 a:hover {
  background-color: #295d69fc;
}
.cardp .imagep img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.cardp h5 {
  font-size: 20px;
}
.contact {
  color: var(--colort);
  padding: 17em 0;
}

.contact h3 {
  color: var(--color3);
  padding-bottom: 0.5em;
  font-size: 1.4rem;
  text-align: center;
}

.contact h1 {
  color: var(--color4);
  font-size: 2.5rem;
  padding: 0 0 0.3em;
  text-align: center;
}

.contact .links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 2em auto 0;
}

.contact img {
  border-radius: 50%;
  cursor: pointer;
  filter: saturate(0);
  transition: 300ms;
  width: 60px;
  height: 60px;
}

.contact img:hover {
  filter: saturate();
}

.copyright {
  text-align: center;
}

.copyright p {
  color: var(--colort);
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
}

.copyright a {
  color: var(--color3);
}

/* Media Queris */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--nav);
    width: 30em;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .beranda {
    margin-top: 200px;
  }

  .beranda .content-img {
    border: 2px solid (172, 32, 32);
    margin: 50px auto;
  }

  .about-title {
    margin-top: 280px;
  }

  .about .image {
    margin: auto;
    margin-left: -60px;
  }
  .about .side-bar1 .image img {
    margin: 0;
  }

  .about .side-bar1 {
    margin: auto;
  }

  .about .side-bar2 {
    margin: -40px auto;
    width: 100%;
  }

  .about .side-bar1,
  .about .side-bar2 {
    margin-top: 280px;
    width: 55%;
    height: 75%;
    padding: 1em 7%;
  }
  .card {
    margin: auto;
    margin-bottom: 25px;
  }

  .prap p {
    font-size: 16px;
    line-height: 15px;
    text-align: justify;
    width: 100%;
  }

  .cardp {
    margin: auto;
    margin-bottom: 25px;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .about .side-bar1,
  .about .side-bar2 {
    margin-right: 100px;
  }
}

@media (min-width: 768px) {
  .beranda {
    display: flex;
  }

  .about {
    display: flex;
  }

  .box {
    display: flex;
  }
  .about .image {
    margin: auto;
    margin-left: 80px;
  }
}
